<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from appify.projectsmd.in/html/appify_V1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Jul 2018 06:29:19 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="~/Public/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Public/favicon.ico" type="image/x-icon">
    <title>Appify Theme</title>
    <link href="~/Public/css/stylec619.css?v=1.0" rel="stylesheet" />
    <link href="~/Public/bx/jquery.bxsliderc619.css?v=1.0" rel="stylesheet" />
    <link href="~/Public/css/animatec619.css?v=1.0" rel="stylesheet" />
    <!-- Owl Stylesheets Slider-->
    <link rel="stylesheet" href="~/Public/css/slider/owl.carousel.minc619.css?v=1.0">
    <link rel="stylesheet" href="~/Public/css/slider/owl.theme.default.minc619.css?v=1.0">
</head>
<body>
    <div id="site-main">
        <!-- header-start  -->
        <header id="main-header">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="logo-main col-2">
                            <a href="~/Public/index.html"><img src="~/Public/images/svg/logo.png" alt="img"></a>
                        </div>
                        <div class="col-10 text-right">
                            <div class="responsive-menu-btn"><i><b></b><b></b><b></b></i><span></span></div>
                            <nav id="main-menu">
                                <ul class="main-top-menu">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#features">FEATURES</a></li>
                                    <li><a href="#work">how it works</a></li>
                                    <li><a href="#benefits">benefits</a></li>
                                    <li><a href="#screenshots">screenshots</a></li>
                                    <li><a href="#priceing">Pricing</a></li>
                                    <li class="download"><a href="#download">download</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end  -->
        @RenderBody()
        <!-- footer-start -->
        <footer id="main-footer" class="container">
            <div class="wrapper text-center">
                <img src="~/Public/images/svg/logo.png" alt="logo">
                <ul class="social-link">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                <span>&copy; <a href="https://store.multidots.com/" target="_blank">DotStore</a> 2016</span>
            </div>
        </footer>
        <!-- footer-end -->

    </div>

    <!-- Element Js -->
    <script src="~/Public/js/jquery.min.js"></script>
    <script src="~/Public/js/element.js"></script>
    <!-- bx-slider -->
    <script src="~/Public/bx/jquery.bxslider.min.js"></script>
    <script src="~/Public/js/slider/owl.carousel.js"></script>
    <!-- Spincrement -->
    <script src="~/Public/js/waypoints.min.js"></script>
    <script src="~/Public/js/jquery.counterup.min.js"></script>
    <!-- Parallax -->
    <script type="text/javascript" src="~/Public/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/Public/js/jquery.localscroll-1.2.7-min.js"></script>
    <!-- responsive menu -->
    <script src="~/Public/js/wow.min.js"></script>
</body>

<!-- Mirrored from appify.projectsmd.in/html/appify_V1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Jul 2018 06:31:41 GMT -->
</html>